/*body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  width: 60%;
  height: 70%;
  border: dashed 2px #f7860b;
  overflow: hidden;
  text-align: center;
}
.resized {
  font-family: Helvetica,Arial, "sans-serif";
}
*/
body {
  background-color: black;
}
.card-img-top {
width:16rem;
height: 35vh;
object-fit: cover;
}

.fa-pencil  {
color: #BCBCBE;
}
.fa-trash  {
color: #BCBCBE;
}



