body {
  background-color:white;
}

.container {
  display: flex;
  display-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start; 
}
.card-img-top {
width:16rem;
height: 35vh;
object-fit: cover;
}

.fa-pencil  {
color: #BCBCBE;
}
.fa-trash  {
color: #BCBCBE;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    margin: 10px;
    align-items:center;
  }
}

/*@media (min-width: 481px){
  .card { 
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    max-width: 18rem; 
    margin: 10px;
  }
}*/

